* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
    font-family: 'Rubik', sans-serif;
    color: #656565;
}
.container{
    min-height: 90vh;
    display: flex;
}

/* Sidebar  */

.sidebar{
    background-color: #000000;
    width:230px;
    height: calc(100vh - 124px);
    position: relative;
}

.sidebar .logo{
    width: 130px;
    margin: 1rem;
    cursor: pointer;
}

.logo-small{
    display: none;
}

.container-home:hover{
    border-left: 4px solid #adff2f;
}

.home{
    width: 30px;
    margin-left: 34px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.home p{
    margin-left: .3rem;
}

.sidebar .container-icon {
    display: flex;
    align-items: center;
    padding-left: 34px;
    margin-top: 10px;
    cursor: pointer;
}
.sidebar .container-icon:hover{
    border-left: 4px solid #adff2f;
}
.sidebar .container-icon .icon {
    width: 30px;
}

.container-icon .text-icon p{
    margin-left: .3rem;
}

.sidebar .container-playlist .playlist{
    margin-top: 25px;
    margin-left: 34px;
    color: white;
}

.container-playlist .plus-icon{
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-top: 0.5rem;
    cursor: pointer;
}
.container-playlist .plus-icon .fa-solid{
    font-size: 45px;
}
.container-playlist .plus-icon p{
    margin-left: 0.8rem;
    font-weight: 500;
}

.container-playlist .nome-playlist{
    margin-top: 15px;
    margin-left: 34px;
    cursor: pointer;
}

.sidebar .utente{
    width: 100%;
    position: absolute;
    bottom: 1em;
}
.sidebar .utente .installa-app{
    display: flex;
    margin-left: 34px;
    cursor: pointer;
}
.utente .installa-app p{
    margin-left: 0.5rem;
}
.sidebar .utente .john-doe{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    border-top: 1px solid;
    padding-top: 1rem;
    padding-left: 15px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.utente .john-doe .fa-circle-user{
    font-size: 2rem;
}
.utente .john-doe p{
    margin-left: 0.5rem;
    font-size: 1rem;
    color: white;
}

.sidebar .container-home:hover{
    color: white;
}

.sidebar .container-icon:hover{
    color: white;
}

.sidebar .plus-icon:hover{
    color: white;
}
.sidebar .nome-playlist:hover{
    color: white;
}

.sidebar .installa-app:hover{
    color: white;
}


@media (max-width: 552px) {
    .sidebar{
        width: 50px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        width: 28px;
        margin: 0.3rem auto;
    } 
    .container-home{
        border-left: 0px;
    } 
    .home{
        width: 30px;
        margin-left: 4px;
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    .home p{
        display: none;
    }  
    .sidebar .container-icon{
        margin-left: 3px;
        padding-left: 0;
        display: block;
    }
    .sidebar .container-icon:hover{
        border-left: 0px;
    }
    .container-icon .text-icon p{
        display: none;
    }
    .container-playlist{
        display: none;
    }
    .sidebar .utente{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidebar .utente .installa-app{
        display: block;
        margin: 0;
    }
    .sidebar .utente .john-doe{
     margin-top: 1rem;
     padding-top: 1rem;
     display: block;
     border-top: 0;
     padding-left: 0;
     margin-left: 0;
     margin-right: 0;

    }
    .sidebar .utente p{
        display: none;
    }
}

/* Main-Content  */

.main{
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

/* Trasparent row  */

.main .trasparent-row{
    width: 100%;
    height: 124px;
    background-color: rgba(0, 0, 0, 0.3);;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.main .trasparent-row a{
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 1rem 4rem;
    border-radius: 2rem;
}

.main .trasparent-row a:hover{
    background-color: #141922;
}

/* Menu  */
.menu-container{
    padding-top: 1rem;
}

.menu-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.menu-container li{
    margin: 1rem 0.5rem;
}

.menu-container a{
    text-decoration: none;
    color: #656565;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-container a:hover{
    border-bottom: 3px solid #adff2f;;
}

/* Recently Add  */

.recently-played{
    padding: 1rem;
}

.recently-played h2{
    color: white;
}

.recently-played .albums-covers{
    display: flex;
    margin: 1em 0;
    flex-wrap: wrap;
}

.recently-played .albums-covers .song{
    flex: 1 1 calc((100% - 2%)/6);
    padding: 1%;
    text-align: center;
    margin-bottom: 0.5em;
}

.song .song-cover img{
    width: 100%;
}

.song .title-song .top{
    font-weight: bold;
    display: block;
    color: white;
}
.song .title-song .bottom-song{
    font-size: .9em;
}

/* Creato per   */

.creato-per{
    width: 100%;
    padding: 1em;
}

.creato-per .box{
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}
.creato-per .box .mix{
    flex: 0 0 calc((100% - 2%)/6);
    padding: 1%;
    text-align: center;
    margin-bottom: 0.5em;
    color: white;
}

.mix .song-cover img{
    width: 100%;
}


/* Artisti popolari  */
.mix .song-cover .border{
    width: 100%;
    border-radius: 50%;
}


/* Footer  */

footer{
    background-color:#282828;
    height: 10%;
    position: fixed;
    bottom: 0;
    background-color: rgb(39, 39, 39);
    width: 100%;
    z-index: 2;
    min-height: 70px;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    margin-top: 1rem;
}
/* Footer left  */

.container-footer .footer-left{
    display: flex;
    width: calc(100% / 3);
    align-items: center;
    justify-content: space-between;
}
.container-footer .footer-left .footer-left-up{
    display: flex;
    align-items: center;
    width: 60%;
}
.footer-left .footer-left-up .album-cover{
    width: 20%;
}
.footer-left-up .album-cover img{
    width: 100%;
}
.footer-left .footer-left-up .text-album{
    width: 70%;
    padding-left: 1rem;
}

.footer-left .footer-left-down{
    display: flex;
    width: 35%;
}

.footer-left .footer-left-down .fa-folder{
    margin-left: 0.5rem;
}

/* Footer-center  */

.container-footer .footer-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 3);
    align-items: center;
}

.container-footer .footer-center .center-top{
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 10px auto;

}
.footer-center .center-top .fa-circle-play{
    font-size: 2em;
}
.footer-center .center-top .fa-solid{
    font-size: 1.3em;
}
.container-footer .footer-center .center-bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-center .center-bottom .full-bar{
    width: 80%;
    height: 5px;
    border-radius: 5px;
    background-color: grey;
    margin: 10px;
}

/* Footer-right  */

.container-footer .footer-right{
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    justify-content: center;
}

.container-footer .footer-right .volume{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-right .volume i{
    margin: 0 5%;

}

.footer-right .volume .full-bar{
    width: 70%;
    height: 5px;
    border-radius: 5px;
    background-color: grey;
    margin: 10px;
}
.half-bar{
    height: 5px;
    width: 50%;
    background-color: lightgrey;
    position: relative;
}
.circle-bar{
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: -8px;
    top: -5px;
    display: none;
}

.full-bar:hover .half-bar{
    background-color: yellowgreen;
}
.full-bar:hover .circle-bar{
    display: block;
}

@media (max-width: 801px) {
    .footer-left .footer-left-down{
        flex-direction: column;
    }
    .footer-left .footer-left-down .fa-folder{
        margin-left: 0;
        margin-top: 0.2rem;
    }
    /* .main .trasparent-row a{
        font-size: 14px;
    } */
}

@media (max-width: 552px){
    .footer-left .footer-left-up .album-cover {
        width: 30%;
    }
    .main .trasparent-row a {
        text-decoration: none;
        color: white;
        border: 1px solid;
        padding: 0.8rem 2rem;
        border-radius: 2rem;
        font-size: 12px;
    }

}

