* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
    font-family: 'Rubik', sans-serif;
    color: #656565;
}
.container{
    min-height: 90vh;
    display: flex;
}

/* Sidebar  */

.sidebar{
    background-color: #000000;
    width:230px;
    position: relative;
}

.sidebar .logo{
    width: 130px;
    margin: 1rem;
}

.logo-small{
    display: none;
}

.container-home{
    border-left: 4px solid #adff2f;
}

.home{
    width: 30px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.home p{
    margin-left: .3rem;
}

.sidebar .container-icon {
    display: flex;
    align-items: center;
    margin-left: 34px;
    margin-top: 10px;
}

.sidebar .container-icon .icon {
    width: 30px;
}

.container-icon .text-icon p{
    margin-left: .3rem;
}

.sidebar .container-playlist .playlist{
    margin-top: 25px;
    margin-left: 34px;
    color: white;
}

.container-playlist .plus-icon{
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-top: 0.5rem;
}
.container-playlist .plus-icon .fa-solid{
    font-size: 45px;
}
.container-playlist .plus-icon p{
    margin-left: 0.8rem;
    font-weight: 500;
}

.container-playlist .nome-playlist{
    margin-top: 15px;
    margin-left: 34px;
}

.sidebar .utente{
    width: 100%;
    position: absolute;
    bottom: 1em;
}
.sidebar .utente .installa-app{
    display: flex;
    margin-left: 34px;
}
.utente .installa-app p{
    margin-left: 0.5rem;
}
.sidebar .utente .john-doe{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    border-top: 1px solid;
    padding-top: 1rem;
    padding-left: 15px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.utente .john-doe .fa-circle-user{
    font-size: 2rem;
}
.utente .john-doe p{
    margin-left: 0.5rem;
    font-size: 1rem;
    color: white;
}

.sidebar .container-home:hover{
    color: white;
}

.sidebar .container-icon:hover{
    color: white;
}

.sidebar .plus-icon:hover{
    color: white;
}
.sidebar .nome-playlist:hover{
    color: white;
}

.sidebar .installa-app:hover{
    color: white;
}


@media (max-width: 552px) {
    .sidebar{
        width: 50px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        width: 28px;
        margin: 0.3rem auto;
    } 
    .container-home{
        border-left: 0px;
    } 
    .home{
        width: 30px;
        margin-left: 10px;
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    .home p{
        display: none;
    }  
    .sidebar .container-icon{
        margin-left: 10px;
        margin-top: 10px;
        display: block;
    }
    .container-icon .text-icon p{
        display: none;
    }
    .container-playlist{
        display: none;
    }
    .sidebar .utente{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidebar .utente .installa-app{
        display: block;
        margin: 0;
    }
    .sidebar .utente .john-doe{
     margin-top: 1rem;
     padding-top: 1rem;
     display: block;
     border-top: 0;
     padding-left: 0;
     margin-left: 0;
     margin-right: 0;

    }
    .sidebar .utente p{
        display: none;
    }
}

/* Content  */

.content{
    flex-grow: 1;
    background-color: #141922;
}

/* Footer  */

footer{
    background-color:#282828;
    height: 10%;
    position: fixed;
    bottom: 0;
    background-color: rgb(39, 39, 39);
    width: 100%;
    z-index: 2;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    margin-top: 1rem;
}
/* Footer left  */

.container-footer .footer-left{
    display: flex;
    width: calc(100% / 3);
    align-items: center;
    justify-content: space-between;
}
.container-footer .footer-left .footer-left-up{
    display: flex;
    align-items: center;
    width: 60%;
}
.footer-left .footer-left-up .album-cover{
    width: 20%;
}
.footer-left-up .album-cover img{
    width: 100%;
}
.footer-left .footer-left-up .text-album{
    width: 70%;
    padding-left: 1rem;
}

.footer-left .footer-left-down{
    display: flex;
    width: 35%;
}

.footer-left .footer-left-down .fa-folder{
    margin-left: 0.5rem;
}

/* Footer-center  */

.container-footer .footer-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 3);
    align-items: center;
}

.container-footer .footer-center .center-top{
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 10px auto;

}
.footer-center .center-top .fa-circle-play{
    font-size: 2em;
}
.footer-center .center-top .fa-solid{
    font-size: 1.3em;
}
.container-footer .footer-center .center-bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-center .center-bottom .full-bar{
    width: 80%;
    height: 5px;
    border-radius: 5px;
    background-color: grey;
    margin: 10px;
}

/* Footer-right  */

.container-footer .footer-right{
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    justify-content: center;
}

.container-footer .footer-right .volume{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer-right .volume i{
    margin: 0 5%;

}

.footer-right .volume .full-bar{
    width: 70%;
    height: 5px;
    border-radius: 5px;
    background-color: grey;
    margin: 10px;
}
.half-bar{
    height: 5px;
    width: 50%;
    background-color: lightgrey;
    position: relative;
}
.circle-bar{
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: -8px;
    top: -5px;
    display: none;
}

.full-bar:hover .half-bar{
    background-color: yellowgreen;
}
.full-bar:hover .circle-bar{
    display: block;
}

@media (max-width: 801px) {
    .footer-left .footer-left-down{
        flex-direction: column;
    }
    .footer-left .footer-left-down .fa-folder{
        margin-left: 0;
        margin-top: 0.2rem;
    }
    
}

@media (max-width: 552px){
    .footer-left .footer-left-up .album-cover {
        width: 30%;
    }

}